<th:block th:fragment="modalDeposit">
    <div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-xl" role="document" style="top: 100px;">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deposit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="frmDeposit">
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-6">
                                <label for="customerId" class="form-label">Customer ID</label>
                                <input type="number" class="form-control" id="customerId" readonly="readonly">
                            </div>
                            <div class="col-lg-6">
                                <label for="fullName" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="fullName" readonly="readonly">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label for="balance" class="form-label">Current Balance ($)</label>
                                <input type="number" class="form-control" id="balance" readonly="readonly" min="0">
                            </div>
                            <div class="col-lg-6">
                                <label for="transactionAmountDeposit" class="form-label">Transaction Amount ($)</label>
                                <input type="number" class="form-control" id="transactionAmountDeposit" name="transactionAmountDeposit" data-errorid="transactionAmountError" min="0">
                                <div class="error-message" id="transactionAmountError"></div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-lg-3">
                                <button type="button" class="btn btn-outline-success" id="depositButton">
                                    <i class="fas fa-plus"></i>
                                    Deposit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>